html, body {
    max-width: 100%;
    overflow-x: hidden;
}

#Nav {
    background-color: #00000088;
    overflow: hidden;
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}

#Nav a {
    float: left;
    color: #22dd22;
    text-align: center;
    padding: 10px 20px;
    font-size: 16px;
    text-decoration: none;
    font-family: monospace, sans-serif;
}

#Nav a:hover {
    color: #ccdd00;
}

#bigtext {
    color: #000000;
    text-align: center;
    font-size: 24px;
    font-family: monospace, sans-serif;
}

#text {
    color: #000000;
    text-align: center;
    font-size: 20px;
    font-family: monospace, sans-serif;
}

#smalltext {
    color: #000000;
    text-align: center;
    font-size: 12px;
    font-family: monospace, sans-serif;
}

#link {
    color: #11aa11;
}

.card {
    position: relative;
    border-radius: 2px;
    background-color: #222222cc;
    padding: 20px 20px;
    width: 8%;
    height: 20%;
}

.cardImg {
    border-radius: 50%;
    width: 88%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cardTxt {
    font-family: monospace, sans-serif;
    color: #ccdd00;
    top: 0;
    text-align: center;
}

div {
    display: block;
}

#category {
    background-color: #00000055;
    color: #bb8800;
    text-align: left;
    font-size: 24px;
    font-family: monospace, sans-serif;
}

#big {
    background-color: #00000055;
    color: #ccdd00;
    text-align: left;
    font-size: 22px;
    font-family: monospace, sans-serif;
    text-indent: 5;
}

#medium {
    background-color: #00000055;
    color: #11aa11;
    text-align: left;
    font-size: 20px;
    font-family: monospace, sans-serif;
    text-indent: 15px;
}

#small {
    background-color: #00000055;
    color: #ffffff;
    text-align: left;
    font-size: 16px;
    font-family: monospace, sans-serif;
    text-indent: 25px;
}

#feet {
    background-color: #009900cc;
    width: 100%;
    height: 507px;
    font-family: monospace, sans-serif;
    padding: 20px 20px;
}
